<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:allowNativeHeapPointerTagging="false"
        tools:targetApi="r">

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="85ffcd34e866ccfa386bf7ab348a5e23" />

    </application>

</manifest>